@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

body {
  background-color: #065890;
  font-size: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}

.bold-text {
  font-weight: 900;
}

.logo-container {
  text-align: center;
}

.logo {
  height: 8rem;
  width: 10rem;
}

.landing-content {
  padding-left: 9rem;
  padding-bottom: 4rem;
}

.headline {
  font-size: 5rem;
  color: white;
  margin-bottom:  0rem;
}

.sub-head {
  font-size: 4rem;
  color: white;
  margin-bottom: 0rem;
}

.sub-text {
  font-size: 2rem;
  color: white;
  width: 45rem;
  line-height: 1;
  margin-bottom: 0rem;
}

form {
  /* padding-top: 1rem; */
}

.email {
  border-radius: 10rem;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  height: 4rem;
  width: 45rem;
  color: #9B9B9B;
  font-size: 2rem;
  padding-left: 2.5rem;
  margin-top: 2rem;
}

.submit-button {
  margin-top: 2rem;
  justify-content: center;
  align-content: center;
  height: 3rem;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  border-radius: 10rem;
  color: #1379C1;
  font-weight: bold;
  font-size: 2rem;
  width: 13rem;
}

.icon {
  font-size: 1.5rem;
  color: #1379C1;
}

.model {
  height: 75%;
  position: absolute;
  top: 3.95rem;
  right: 10rem;
}

.site-footer {
  background-color: black;
  height: auto;
  width: 100%;
  margin: 0px auto; 
  padding-top: 1rem; 
  padding-bottom: 1rem;
}

.footer-heading {
  color: white;
  font-size: 2rem;
  text-align: center;  
  margin-bottom: 0;
}

.footer-content {
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.footer-icon {
  height: 25%;
  margin-right: 1rem;
}

.footer-sub-heading {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.footer-sub-text {
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
}

.footer-copywrite {
  color: white;
  font-size: 1rem;
  text-align: center;  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    width: min-content;
    font-size: 5px;
  }

  .landing-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .headline {
    font-size: 6rem;
    margin-bottom: 1rem;
    line-height: 1;
  }
  
  .sub-head {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .sub-text {
    font-size: 2rem;
    width: 25rem;
  }
  
  .email {
    width: 25rem;
  }

  .model {
    width: 13rem;
    left: 16rem;
    top: 12rem;
  }

  .footer-icon {
    height: 15%;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1360px) and (max-width: 1439px) {
  body {
    font-size: 5px;
  } 
  .logo {
    height: 6rem;
    width: 8rem;
  }
  .headline {
    font-size: 4rem;
  }
  .sub-head {
    font-size: 3rem;
  }
  .sub-text {
    font-size: 2rem;
    width: 50rem;
  }
  form {
    padding-top: 1rem;
  }
  .email {
    margin-top: 0;
    width: 35rem;
    height: 3rem;
    font-size: 1.5rem;
  }
  .submit-button {
    margin-top: 1rem;
    height: 3rem;
    font-size: 1.5rem;
  }
  .model {
    height: 27rem;
    top: 5.5rem;
    width: 28rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1450px) {
  body {
    font-size: 10px;
  }

  .logo {
    height: 12rem;
    width: 12rem;
  }
  
  .landing-content {
    padding-left: 14rem;
    padding-bottom: 4rem;
  }
  
  .headline {
    font-size: 6rem;
    margin-bottom:  2rem;
  }
  
  .sub-head {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .sub-text {
    font-size: 3rem;
    width: 55rem;
    margin-bottom: 1rem;
  }
  
  .email {
    height: 4rem;
    width: 45rem;
    font-size: 2rem;
    padding-left: 2.5rem;
    margin-top: 2rem;
  }
  
  .submit-button {
    margin-top: 2rem;
    height: 3rem;
    font-size: 2rem;
    width: 13rem;
  }
  
  .icon {
    font-size: 1.5rem;
    color: #1379C1;
  }
  
  .model {
    height: 75%;
    position: absolute;
    top: 4.8rem;
    right: 17rem;
  }
}